.flex {
	display: flex;
    justify-content: center;
    background: #ace5ee; padding: 5px;
}

.itm { background: #ace5ee;     font-size: 20px;     color: #eee;     margin: 5px;     padding: 15px;}

.header{
	width: 100%;
	background: #ace5ee;
}

textarea {
	width: 50%;
	height: 100px;
	resize: none;
}

.auth{
	width: 200px;
	height: 200px;
	margin: auto;
}

.right{
	float: right;
}

.type_quest{
	float: left;
	display: block;
	margin: 2px;
	font-size: 20px;
}

.questions{
	float: left;
	display: block;
	margin-left: 100px;
	font-size: 20px;
}

.ul{
	border: solid 1px #ace5ee;
	text-align: center;
	margin-top: 1px;
	width: 250px;
}
.cr_quest{
	width: 400px;
	height: auto;
	margin-left: 100px;
	font-size: 20px;
	background: #f5f5f5;
}
.h1{
	padding-left: 25px;
}


/* Базовый контейнер табов */
.tabs {
	min-width: 320px;
	max-width: 800px;
	padding: 0px;
	margin: 0 auto;
}
/* Стили секций с содержанием */
.tabs>section {
	display: none;
	padding: 15px;
	background: #fff;
	border: 1px solid #ddd;
}
.tabs>section>p {
	margin: 0 0 5px;
	line-height: 1.5;
	color: #383838;
	/* прикрутим анимацию */
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}
/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
/* Прячем чекбоксы */
.tabs>input {
	display: none;
	position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
	display: inline-block;
	margin: 0 0 -1px;
	padding: 15px 25px;
	font-weight: 600;
	text-align: center;
	color: #aaa;
	border: 0px solid #ddd;
	border-width: 1px 1px 1px 1px;
	background: #f1f1f1;
	border-radius: 3px 3px 0 0;
}
/* Шрифт-иконки от Font Awesome в формате Unicode */
.tabs>label:before {
	font-family: fontawesome;
	font-weight: normal;
	margin-right: 10px;
}
.tabs>label[for*="1"]:before {
	content: "\f19a";
}
.tabs>label[for*="2"]:before {
	content: "\f17a";
}
.tabs>label[for*="3"]:before {
	content: "\f13b";
}
.tabs>label[for*="4"]:before {
	content: "\f13c";
}
/* Изменения стиля переключателей вкладок при наведении */

.tabs>label:hover {
	color: #888;
	cursor: pointer;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
	color: #555;
	border-top: 1px solid #009933;
	border-bottom: 1px solid #fff;
	background: #fff;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3, #tab4:checked~#content-tab4 {
	display: block;
}
/* Убираем текст с переключателей
* и оставляем иконки на малых экранах
*/

@media screen and (max-width: 680px) {
	.tabs>label {
		font-size: 0;
	}
	.tabs>label:before {
		margin: 0;
		font-size: 18px;
	}
}
/* Изменяем внутренние отступы
*  переключателей для малых экранов
*/
@media screen and (max-width: 400px) {
	.tabs>label {
		padding: 15px;
	}
}

.name_quest{
	height: 100px;
}

.header{
	top: 0;
}
.button{
	text-align:center;
	cursor: pointer;
	font-size:19px;  text-decoration: none;
	padding:13px 20px; color:#1c66ed;
	background-color:#ace5ee;
	border-radius:14px;
	border: 3px solid #1c66ed;
}

.form{
	margin: 0 auto;
	border: solid 1px black;
	width: 1000px;
	height auto;
	float: center;
}
.auth{
	border: solid 1px black;
	width: 500px;
	height: auto;
	padding: 20px;
	margin-top: 200px;
}
